<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template></Template><TotalTime>4</TotalTime><Application>LibreOffice/26.2.2.2$Linux_X86_64 LibreOffice_project/1f77d10d6938fd34972958f64b2bcfa54f8b1ba5</Application><AppVersion>15.0000</AppVersion></Properties>